<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.3.xsd"
		default-init-method="init" default-destroy-method="destroy">
	
	<!-- bean的配置文件 -->
	<!-- 配置数据源url/driver/username/password -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://127.0.0.1:3306/my_db?useUnicode=true&amp;characterEncoding=utf-8"></property>
		<property name="username" value="root"></property>
		<property name="password" value="root"></property>
	</bean> 
	<!-- 配置会话工厂bean SqlSessionFactory -->
	<bean id="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
	<!-- 配置Mybatis-config文件 -->
	<property name="configLocation" value="classpath:mybatis-config.xml"></property>
	</bean>
	<!-- 配置Mapper组件扫描管理器 -->
	<bean id="mapperScanner" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionFactory" ref="sessionFactory"></property>
		<property name="basePackage" value="com.study.ssm.dao"></property>
	</bean>
	<!-- 开启基于IOC的注解组件扫描 -->
	<context:component-scan base-package="com.study.ssm"></context:component-scan>
</beans> 






